.live-area-holder
  = render 'live_area'

%h2 Encounters
%h3 Current Encounter
.current-encounter-holder
  - if @game_space.current_encounter
    = render '/encounters/current'
  - else
    %p There is no current encounter.

.encounter-editor-holder

%h3 Other Encounters
.other-encounter-holder
  = render '/encounters/index'

%h2 Players
%ul
  - @players.each do |player|
    %li= player.name

.options
  = link_to 'Edit', edit_game_space_path(@game_space), class: 'button'
  = link_to 'Delete', game_space_path(@game_space), method: :delete, data: { confirm: "Are you sure you want to delete #{@game_space.name}?" }, class: 'button'
