%li
  = creature.name
  = "| AC: #{creature.armor_class}" if creature.armor_class.present?
  - if creature.variety == 'event'
    = "| Ini: #{creature.initiative_value}"
  - else
    = "| Ini: #{'+' if creature.initiative_bonus.positive?}#{creature.initiative_bonus}"
  |
  = link_to 'Edit', edit_creature_path(creature)
  |
  = link_to 'Delete', creature_path(creature), method: :delete, data: { confirm: "Are you sure you want to delete #{creature.name}?" }
