.field-holder{ class: @creature.variety || 'player' }
  .field.name
    = f.label :name
    = f.text_field :name, required: true
    = render_error_messages @creature, :name

  .field.variety
    = f.label :variety
    = f.radio_button :variety, 'player', checked: true
    = f.label :variety_player, 'Player'
    = f.radio_button :variety, 'npc'
    = f.label :variety_npc, 'NPC'
    = f.radio_button :variety, 'event'
    = f.label :variety_event, 'Event'
    = render_error_messages @creature, :type
  .field.armor-class.hide-for-event
    = f.label :armor_class
    = f.text_field :armor_class
    = render_error_messages @creature, :armor_class

  .field.initiative-bonus.hide-for-event
    = f.label :initiative_bonus
    = f.number_field :initiative_bonus
    = render_error_messages @creature, :initiative_bonus

  .field.advantage.hide-for-event
    = f.check_box :advantage
    = f.label :advantage
    = render_error_messages @creature, :advantage

  .field.initiative-value.hide-for-player.hide-for-npc
    = f.label :initiative_value
    = f.number_field :initiative_value
    = render_error_messages @creature, :initiative_value

:javascript
  $(document).ready(function(){
      $('.variety input').change(function(){
          $('.field-holder').removeClass('player npc event');
          $('.field-holder').addClass($(this).val());
      });
  });
