%h1 Greetings, Game Master!

%p Game Squire is the perfect tool to help you run games online or in person.

- if current_user && @game_spaces.none?
  %p First things first...
  = link_to 'Create a New Game Space', new_game_space_path, class: 'button'
- elsif current_user
  %p Select a Game Space
  %ul
    - @game_spaces.each do |game_space|
      %li= link_to game_space.name, game_space_path(game_space)
  = link_to 'Create a Game Space', new_game_space_path, class: 'button'
  = link_to 'Manage Creatures', creatures_path, class: 'button'
- else
  %p
    = link_to 'Login', new_user_session_path
    or
    = link_to 'Signup', new_user_registration_path
    to get started.
